__pycache__/
*.py[cod]
*$py.class

*.so

.venv/
venv/
env/
ENV/
env.bak/
*.env

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

build/
dist/
*.egg-info/
.eggs/

*.pyd

uvicorn*.log

*.sqlite3
*.db
*.log

.env.local
.env.dev
.env.test
.env.production

docker-compose.override.yml
*.pid

migrations/

reload/

